<style>
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Open+Sans:ital@1&family=Oswald&family=PT+Sans&family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Yantramanav:wght@300;400;500;700&display=swap');
</style>
<header>
    <div class="container">
        <div class="UAH">
            <span>1.00000 UAH</span>
        </div>
        <div class="other_currency">
            <div class="currency">
                <span>{{eur}}</span>
                <span>EUR</span>
            </div>
            <div class="currency">
                <span>{{usd}}</span>
                <span>USD</span>
            </div>
            <div class="currency">
                <span>{{gbp}}</span>
                <span>GBP</span>
            </div>
        </div>
    </div>
</header>
